<!doctype html>
<html>

<head>
<title>LeetPlug - Author: Lorenzo Bertelli</title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<style>
header {
  text-align: center;
}
footer {
  text-align: center;
}
body {
  background-color: rgb(255, 255, 255);
}
#table_container {
  width: 90%;
  margin: auto;
}
.right-aligned-cell {
  text-align: right;
}
</style>
</head>

<body>
<header>
<h1 >LeetPlug</h1>
User number: {{ userIdPlaceholder|safe }}
</header>
<div id="table_container">
<table id="example" class="display" width="100%"></table>
</div>
<script>

var problemsFromPy = JSON.parse('{{ problems|safe }}');
var dataSet = [];

for (var i = 0; i < problemsFromPy.problems.length; ++i) {
  var problem = [];
  problem.push(problemsFromPy.problems[i]['Problem']);
  problem.push(problemsFromPy.problems[i]['Rejected']);
  problem.push(problemsFromPy.problems[i]['Accepted']);
  problem.push(problemsFromPy.problems[i]['Last Accepted']);
  problem.push(problemsFromPy.problems[i]['Last Finish Time']);
  problem.push(problemsFromPy.problems[i]['Users Finish Time']);

  dataSet.push(problem);
}
 
$(document).ready(function() {
    $('#example').DataTable( {
        data: dataSet,
        columns: [
            { title: "Problem" },
            { title: "Rejected" },
            { title: "Accepted" },
            { title: "Last Accepted" },
            { title: "Last Finish Time" },
            { title: "Users Finish Time" }
        ],
        columnDefs: [
            { targets: [1, 2, 3, 4, 5], className: "right-aligned-cell" },
            {
              targets: [0],
              data: null,
              render: function ( data, type, row, meta ) {
                return '<a href="https://leetcode.com/problems/' + data[0] + '" target="_blank">' + data[0] + '</a>';
              }
            }
        ]
    } );
} );
</script>
</body>

<footer>
<p>2020 LorenzoBe</p>
<p>GitHub Repository: <a href="https://github.com/LorenzoBe/LeetPlug" target="_blank">https://github.com/LorenzoBe/LeetPlug</a></p>
</footer>

</html>
